// Nouveau Messages styles.

// Icon additions to default action star


.message-action-star:before,
.message-action-unstar:before,
.message-action-view:before,
.message-action-delete:before {
	font-family: dashicons;
	font-size: 18px;
}

.message-action-star:before {
	color: #aaa;
	content: "\f154";
}

.message-action-unstar:before {
	color: #fcdd77;
	content: "\f155";
}

.message-action-view:before {
	content: "\f473";
}

.message-action-delete:before {
	content: "\f153";
}

.message-action-delete:hover:before {
	color: #a00;
}

.preview-content {

	.actions {

		a {
			text-decoration: none;
		}
	}
}

// Visual message threads & preview pane styles

.bp-messages-content {
	margin: 15px 0;
    background: #fff;
    border-top: 5px solid #9E9E9E;

	#send_reply_button {
		float: right;
    	margin: 0 15px 20px 0;
    }
	.avatar {
		@include box-shadow-none();
	}

	.thread-participants {
		list-style: none;

		dd {
			margin-left: 0;
		}
	}

	time {
		color: $meta-text;

		@include font-size(12);
	}
}

// The actual messages list
#message-threads {
	clear: both;
	list-style: none;
	margin: 0;
	max-height: 220px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	width: 100%;

	// The primary list elements
	li {
		border-bottom: 1px solid $light-grey;

		@include flex-box-dir();
		margin: 0;
		overflow: hidden;
		padding: 10px 10px;

		// the child items
		.thread-cb {

			@include center-vert();
			@include box-item-size(1, 2, 5%);
		}

		.thread-from {

			@include box-item-size(1, 2, 20%);

			img.avatar {
				float: left;
				margin: 0 $marg-sml 0 0;
				max-width: 32px;
			}

			.user-name {
				display: inline-block;
				line-height: 1.1;
				max-width: 75px;
			}
		}

		.thread-content {

			@include box-item-size(1, 2, 60%);
		}

		.thread-date {

			@include box-item-size(1, 2, 15%);
		}

		// the selected parent li elements & message details
		&.selected {
			background-color: $off-white;

			.thread-subject {

				.subject {
					color: $blue;
				}
			}
		}

		.thread-content {
			cursor: pointer;

			.excerpt {
				color: $meta-text;

				@include font-size(12);
				margin: 0;
			}

			.thread-from,
			.thread-subject {

				@include responsive-font(16);
			}

			.thread-subject {
				vertical-align: top;
				font-size: 14px;
			    color: #212121;
			    font-weight: 400;

				.excerpt {
					font-weight: 400;
				}

			}
		} // close thread-content

		.thread-date {
			padding-right: 5px;
			text-align: right;
		}

	} // close li



} // close message-threads

.bp-messages-content {

	.actions {
		float: right;
		max-width: 30%;

		.bp-icons {
			display: inline-block;
			margin: 0;
			padding: $pad-xsml $pad-sml;

			&:before {

				@include font-size(26);
			}
		}
	}

	// preview pane on main inbox view all message entries
	#thread-preview {

		.preview-message {
			clear: both;
		}

		.preview-content {
			margin: 0;

			.preview-message {
				margin: 0;
			    padding: 15px 25px;
			    @extend .thrive-material-card-1;
			    background: #eee;
			}

		} // close .preview-content

	} // close .thread-preview

	// The single view of messages in a conversation thread
	#bp-message-thread-list {
		clear: both;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0 15px;
			list-style: none;
		}


		.message-metadata {
			border-bottom: 1px solid #eee;
		    display: inline-block;
		    width: 100%;
		    padding: 10px 0;

			.avatar {
				width: 30px;
			}

			.user-link {
				display: block;

				@include responsive-font(16);
				float: left;
			}

			time {
				color: $meta-text;

				@include font-size(12);
				padding: 0 $pad-sml;
			}

			button {
				padding: 0 $pad-xsml;
			}

			button:before {

				@include font-size(20);
			}
		}

		.message-content {
			clear: both;
			margin: 10px 0;
			width: 90%;
		
		}

		img.avatar {
			float: left;
			margin: 0 $marg-sml 0 0;
		}

		.actions {

			a:before {
				font-size: 18px;
			}
		}
	} // close #bp-message-thread-list

	form.send-reply {

		.avatar-box {
			padding: 10px 15px;
		}
	}

	// Grouped rules for both inbox all messages lists &
	// for single view conversation thread

	.preview-pane-header,
	.single-message-thread-header {
		padding: 10px 15px;
		&:after {
			clear: both;
			content: "";
			display: table;
		}
	}

	.preview-thread-title,
	.single-thread-title {

		@include font-size(16);

		.messages-title {
			padding-left: $pad-lrg;
		}
	}

	.thread-participants {
		float: left;
		margin: $marg-xsml 0;
		width: 70%;

		dd,
		ul {
			margin-bottom: $marg-sml;
		}

		ul {
			list-style: none;
			padding: 0;
			&:after {

				clear: both;
				content: "";
				display: table;
			}
		}

		li {
			float: left;
			list-style: none;
			margin-left: 5px;
		}

		img {
			width: 30px;
		}
	}

	#thread-preview .preview-message,
	#bp-message-thread-list li .message-content {

		ul,
		ol,
		blockquote {
			list-style-position: inside;
			margin-left: 0;
		}
	}

	ul#message-threads:empty,
	#thread-preview:empty {
		display: none;
	}

	#thread-preview h2:first-child,
	#bp-message-thread-header h2:first-child {
		background-color: #fafafa;
	    color: #212121;
	    margin: 0;
	    font-size: 16px;
	    border-bottom: 1px solid #eee;
	    box-shadow: 0px -10px 30px -15px #585858;
	    padding: 15px 10px;
	}

	#message-threads .thread-content a,
	#bp-message-thread-list li a.user-link {
		border: 0;
		text-decoration: none;
	}

	// The general form elements for composing messages
	.standard-form {

		#subject {
			margin-bottom: $marg-lrg;
		}
	}

} // close .bp-messages-content

// Bulk Message styles

div.bp-navs#subsubnav.bp-messages-filters {

	.user-messages-bulk-actions {
		margin-right: 15px;
		max-width: 42.5%;
	}
}
