#thrive-bar {

	::-webkit-input-placeholder { color: rgba(255,255,255,0.62); }
	:-moz-placeholder { color: rgba(255,255,255,0.62); }
  	::-moz-placeholder { color: rgba(255,255,255,0.62); }
  	:-ms-input-placeholder { color: rgba(255,255,255,0.62); }

	margin-bottom: 0;
	background-color: $primary;
	border-color: transparent;
	border-radius: 0;

	box-shadow: 0 1px 7.5px rgba(0,0,0,.37);

	#sidenav-toggle {
		color: #fff;
	}

	&.navbar-default .navbar-toggle .icon-bar {
		background-color: #23282d;			
	} 

	ul#user-navigation-actions {
		@media( min-width: 767px ) {
			margin-top: -5px;
		}
	}

	.user-navigation-menu-option-item {
		ul.dropdown-menu {
			min-width: 215px;
			margin-right: 15px;
		}
	}


	.thrive-user-nav-bubble {
		background: #F4511E;
	    color: #FBE9E7;
	    position: absolute;
	    top: 20px;
	    height: 20px;
	    font-weight: bold;
	    width: 20px;
	    text-align: center;
	    border-radius: 5px;
	    font-size: 11px;
	    left: 25px;
	    z-index: 2;
	    box-shadow: 0px 3px 6px -1px #3a3a3a;
	}
	input.form-control {
		color: rgba(255,255,255,0.87);
	}

	.navbar-nav > li > a {
		color: rgba(255,255,255,0.87);
		font-size: 13px;
	}

	@media (max-width: 768px) {
		.thrive-navbar-main-menu ul {  
			padding-left: 1em;
			li  a {
				color: rgba(255,255,255	,0.87);
		    	padding: 10px 20px;
		    	display: block;
			}
		}
	}

	@media (min-width: 768px) {
		.navbar-nav > li > a {
		    padding-top: 30px;
		    padding-bottom: 29px;
		    margin-top: -15px;
		    margin-bottom: -15px;
		}
		.navbar-nav#user-navigation-actions li > a.user-notifications-action-name {
			padding-bottom: 34px;
			img.avatar {
		    	border-radius: 50%;
			    width: 28px;
			    margin-top: 0;
			    background: #fff;
			    padding: 1px;
			    margin: 0;
		    }
		}
		.navbar-nav#user-navigation-actions li.user-notifications-action > a {
			padding-bottom: 24px;
		}
	}

	#sidebar-menu-toggle {
		padding: 10px 20px 10px 20px;

	}

	.navbar-toggle {
		border-color: transparent;
		background: #fff;
		margin-top: 25px;
		padding: 10px 10px;
	}
	.navbar-brand {
		display: block;
    	background: rgba(0,0,0,0.24);
    	padding: 25px 35px 60px 35px;
    	margin: -1px 0 -1px -16px;
    	width: 251px;
    	.site-logo {
    		position: relative;
    	}
    	@media ( max-width: 768px ) {
    		background: transparent;
    		width: auto;
    	}
	}

	#thrive-main-navigation {
		@media (min-width: 768px ) {
			margin-top: 15px;
		}
	}
	.navbar-collapse, .navbar-form {border-color: rgba(0,0,0,0.24); }
	// Active State
	.navbar-nav > .open > a,
	.navbar-nav > .active > a, 
	.navbar-nav > .active > a:hover, 
	.navbar-nav > .active > a:focus {
		background-color: transparent;
	}

	.navbar-form .form-control {
		margin-bottom: 0;
		min-height: 0;
	}
	.navbar-nav > li {
		margin-bottom: 0;
		&.current-menu-item {
			a {
				font-weight: 500;
			}
		}
		&#messages-notification,
		&#user-notification-bubble {
			@media (max-width: 767px ) {
				.visible-xs {
					display: inline-block!important;
				}
				.thrive-user-nav-bubble {
					left: auto;
					right: 25px;
				}
			}
		}
		&.mg-right-15 {
			@media( max-width: 768px ) {
				margin-right: 0px;
			}
		}
	}
	.dropdown-menu li {
		margin-bottom: 0;
		position: relative;
	}

	.dropdown-submenu {
    	position: relative;
    	>.dropdown-menu {
		    top: 0;
		    left: 100%;
		    margin-top: -6px;
		    margin-left: -1px;
		    -webkit-border-radius: 0 6px 6px 6px;
		    -moz-border-radius: 0 6px 6px;
		    border-radius: 0 6px 6px 6px;
		}
		&:hover>.dropdown-menu {
	    	display: block;
		}
		> a:after {
		    display: block;
		    content: " ";
		    float: right;
		    width: 0;
		    height: 0;
		    border-color: transparent;
		    border-style: solid;
		    border-width: 5px 0 5px 5px;
		    border-left-color: #ccc;
		    margin-top: 5px;
		    margin-right: -10px;
		}
		&:hover>a:after {
	    	border-left-color: #fff;
		}
		&.pull-left {
		    float: none;
		}
		.pull-left>.dropdown-menu {
		    left: -100%;
		    margin-left: 10px;
		    -webkit-border-radius: 6px 0 6px 6px;
		    -moz-border-radius: 6px 0 6px 6px;
		    border-radius: 6px 0 6px 6px;
		}
	} //.dropdown-submenu

	.navbar-nav > li > a.navbar-btn {
		color: #fff;
	    padding: 10px 25px;
	    background: rgba(0,0,0,0.24);
	    border: 0 none;
	    font-weight: 700;
	    font-size: 13px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    margin: 10px 15px 10px 0;
	    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	    @media( max-width: 768px ) {
	    	margin: 10px 15px 10px 15px;
	    }
	    .material-icons {
	    	line-height: 1px;
		    margin-bottom: -20px;
		    top: 6px;
		    margin-left: -10px;
	    }
	    &:hover {
	    	background: rgba(0,0,0,0.48);
	    }
	    &#header-sign-up {
	    	background: #61bd4f;
	    	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	    }
	}
	/**
	 * User Navigation
	 */
	#user-notification-bubble {
		#notifications-ul {
			padding-left: 0;
			margin: -25px;
			li {
				margin-bottom: 0; 

				a {
					font-size: 12px;
				    color: #444;
				    width: 100%;
				    padding: 10px 15px;
				    display: block;
				    border-bottom: 1px solid #eee;
				}
			}
		}
		&.active {
			> .user-notifications {
				opacity: 1;
				top: 69px;
				z-index: 20;
				pointer-events: initial;
			}
		}
	}
	/**
	 * User Messages
	 */
	#messages-notification {
		&.active {
			#message-notification {
				opacity: 1;
				right: -25px;
				top: 69px;
				z-index: 20;
				pointer-events: initial;
			}
		}
	}	
	/**
	 * Navbar Search
	 */
	#navbar-search {
		width: 38%;
		@media( max-width: 1015px ) { width: 36%; }
		@media( max-width: 992px ) { width: 300px; }
		@media( max-width: 940px ) { width: 280px; }
		@media( max-width: 890px ) { width: 255px; }
		@media( max-width: 865px ) { width: 25%; }
		@media( max-width: 820px ) { width: 21.5%; }
		@media( max-width: 767px ) {
			width: 100%;
			width: calc( 100% + 30px );
		    margin-top: -1px;
		    display: block;
		    margin-right: -15px;
		    margin-left: -15px;
		}
		
		#header-search-wrap {
			position: relative;
			input[name=s] {
				&:hover, &:focus {
					box-shadow: none;
				}
			}
			#header-search-icon {
				position: absolute;
			    right: 10px;
			    font-size: 22px;
			    top: 5px;
			    color: rgba(255, 255, 255, 0.6);
			}
		}

		.form-group,
		.form-control { width: 100%; }
		#s {
			background: rgba(0,0,0,0.12);
    		border: 0 none;
    		font-size: 13px;
    		letter-spacing: 0.30px;
    		line-height: 16px;
    		padding-right: 44px;
    		&:focus {
    			background: rgba(0,0,0,0.24);
    		}
		}
	}
	#sidenav-toggle-mobile {
		display: inline-block;
	    background: #fff;
	    color: #23282d;
	    border-radius: 4px;
	    padding: 3px 10px;
	    margin-top: 25px;
	    float: right;
	    margin-right: 15px;
	    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	}

	#navbar-user-dropdown {
		display: none;
	}
	/**
	 * User Navigation Menu Option
	 */
	@media( max-width: 767px ) {
		.user-notification-action,
		.user-navigation-menu-option-item {
			.material-icons {
				top: 7.25px;
				margin-right: 25px;
			}
			.user-navigation-menu-option-item-label {
				display: inline-block !important;
			}
		}
		.navbar-nav .open .dropdown-menu > li > a{
			color: rgba(255, 255, 255, 0.87 );
		} 
		.dropdown-menu .divider {
			background-color: rgba(0,0,0, 0.10);
		}
		#navbar-user-dropdown {
			display: inline-block;
			margin-left: 10px;
		}
	}

	#create-menu-btn {
		i.material-icons { font-size: 16px; }
	}

	/**
	 * Main Menu
	 */
	$menuSize: 200px;
	.thrive-navbar-main-menu {
		@media (min-width: 767px ) {
			width: $menuSize;
			.sub-menu {
				position: absolute;
				width: $menuSize;
				right: 201px;
				border-radius: 4px;
				background: #fff;

				top: -10px;
				padding: 10px 0;
				pointer-events: none;
				opacity: 0;
				transition: all 0.25s ease-in-out;
				transform: translatex(-25px);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

				li a {
					display: block;
					padding: 	5px 10px 5px 30px;
					color: #777;
				}
			}
			li {
				&:hover {
					> .sub-menu {
						opacity: 1;
						pointer-events: initial;
						transform: translatex(0);
					}
				}
				&.menu-item-has-children {
					> a {
						transition: all 0.25s ease-in-out;
						&:after {
							font-family: 'Material Icons';
						    font-size: 18px;
						    display: inline-block;
						    line-height: 1;
						    white-space: nowrap;
						    direction: ltr;
						    -webkit-font-smoothing: antialiased;
						    text-rendering: optimizeLegibility;
						    -moz-osx-font-smoothing: grayscale;
						    font-feature-settings: 'liga';
						    content: "arrow_drop_down";
						    vertical-align: middle;
						    width: 20px;
						    transition: all 0.25s ease-in-out;
						    float: right;
						    transform: rotate(90deg);
						    font-size: 20px;
						}
						&:hover {
							&:before{
								opacity: 1;
							}
						}
					}
				}
			}
		}

	}// end @media: min-width (767px)

}


#thrive-bar.navbar {

	@media (min-width: 768px) {
		&.navbar-style-2 {
			.caret {
					margin-top: -2.5px;
					opacity: 0.5;
				}
			.navbar-nav > li > .dropdown-menu {
				> li a {
					font-size: 13px;
				}

			}

			.dropdown-menu > .active > a, 
			.dropdown-menu > .active > a:hover, 
			.dropdown-menu > .active > a:focus {
				background-color: transparent;
				font-weight: bold;
			}
			&#thrive-bar {
				#hs-2-form-section {
					
					position: absolute;
				    width: 265px;
				    right: -35px;
				    background: #fff;
				    border-radius: 4px;
				    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
				    opacity: 0;
				    transform: translateY(20px);
				    pointer-events: none;
				    transition: all 0.25s linear;

				    &.active {
				    	opacity: 1;
					    transform: translateY(0);
					    pointer-events: initial;
				    }

					#navbar-search {
						width: 100%;
						padding: 0 10px;
						::-webkit-input-placeholder { color: #717171; }
						:-moz-placeholder { color: #717171; }
					  	::-moz-placeholder { color: #717171; }
					  	:-ms-input-placeholder { color: #717171; }
						input[id="s"] {
							color: #414141;
						}
					}
				}
			}
		}

		.navbar-nav > li > .dropdown-menu {
			border-radius: 2px;
		    border-top-left-radius: 2px;
		    border-top-right-radius: 2px;
		    border: 0 none;
		    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		    > li a {
		    	font-size: 15px;
		    	padding: 8px 24px 8px 24px;
		    	color: #212121;
		    	white-space: normal;
		    	&:hover {
		    		background: #e0e0e0;
		    	}
		    }
		}
	}
}

body.logged-out {
	#thrive-bar {
		#navbar-search {
			@media( max-width: 1015px ) and ( min-width: 768px ) { width: 36%; }
			@media( max-width: 992px ) and ( min-width: 768px ) { width: 335px; }
			@media( max-width: 940px ) and ( min-width: 768px ) { width: 235px; }
			@media( max-width: 875px ) and ( min-width: 768px ) { width: 190px; }
			@media( max-width: 820px ) and ( min-width: 768px ) { width: 125px; }
		}
	}
}

body.thrive-layout-1_column {
	#thrive-bar #sidenav-toggle-mobile {
		display: none!important;
	}
}

