.error404 {
	article.error-404 {
		max-width: 420px;
		margin: 3em auto 0 auto;
		text-align: center;
		h1.page-title {
			font-weight: bold;
			text-transform: capitalize;
		}
	}
}

#page-published-date {
	font-weight: 500;
	.material-icons {
		top: 5px;
	}
	img.avatar {
		margin: 0 5px 0 5px;
	    width: 24px;
	    vertical-align: text-bottom;	
	}
}
.page-template-starter {

	.container.site-content {
		padding-top: 0;
		padding-bottom: 0;
	}
	#page {
		background: $light;
	}
}


.page {
	article.type-page {
	
		h1.entry-title {
			font-weight: 500;
	    	font-size: 38px;
	    	color: #212121;
	    	margin: 30px 0 0 0;
	    	line-height: 1.2;
	    	margin-bottom: 15px;
		}
		.article-body {
			margin-top: 30px;
			font-size: 16px;
			font-weight: 400;
			h1,h2,h3,h4,h5,h6 {
				color: #212121;
				font-weight: 500;
			}
		}
	}
}
