/*
 Theme Name:   Thrive Nouveau Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     thrive-nouveau
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  thrive-nouveau-child
*/


@import url('../thrive-nouveau/style.css');




/*Profile detail page*/ 


@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('../thrive-nouveau-child/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  
        url('../thrive-nouveau-child/fonts/AvenirLTStd-Roman.otf')  format('opentype'),
        url('../thrive-nouveau-child/fonts/AvenirLTStd-Roman.woff') format('woff'), 
        url('../thrive-nouveau-child/fonts/AvenirLTStd-Roman.ttf')  format('truetype'), 
        url('../thrive-nouveau-child/fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
body { font-size: 1em; line-height: 1.75; margin-bottom: 1.75em; font-family: 'AvenirLTStd-Roman', -apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important; font-weight: 300; margin-bottom: 0; }
#thrive-bar .navbar-nav > li{font-family: 'AvenirLTStd-Roman';background: white; border: 0;}
#content.site-content {
    background: #ffffff!important;
    ;}
#thrive-bar .navbar-nav > li > a.navbar-btn{background: #46AEEA; box-shadow: 0 2px 0 #46AEEA;}
#thrive-bar .navbar-nav > li > a.navbar-btn:hover {background: #46AEEA;}
#start-template-content .wpb_text_column.wpb_content_element h2{font-size: 22px;}
#start-template-content .wpb_text_column.wpb_content_element p{font-size: 16px;}
#start-template-content #primary.thrive-page-document{padding: 35px 25px 5px; margin-bottom: 25px; width: 970px; margin-left: 5px; }
.subway-login-form-form .subway-login-form__actions{background-color: #46AEEA!important;}
#loginform .login-submit input{background: #46AEEA;}
#main .vc_custom_1471382702623{background-image: none!important; background-color: #f5f5f5;}
#user-navigation-actions .navigation-space{padding: 0px 30px;}
.buddypress-wrap .bp-tables-user tr td.label{border-right: none;}
.member-header-actions .tribe-events-button{margin-right:15px;}
.attending-event{border-bottom: 1px solid #D8D8D8;padding-bottom: 10px;}
.attending-event:nth-last-child(1) {border-bottom:none!important;padding-bottom: 0!important;} 
.attending-event img{
    width:50px;
    display:inline-block;
    clear: both;
    border-radius:5px;
    margin-right:15px;
}
.event_cbx{
    float:left;
    margin-right:15px!important;
    margin-top:17px!important;}
.event-date{font-size:13px; text-transform:uppercase;}
#tribe-events-content .tribe-events-event-cost span{background: none; color: #656565; padding: 0; margin-top: -10px;}
.single-tribe_events .tribe-events-schedule .tribe-events-cost:before{opacity: 1; line-height: 12px; vertical-align: middle;}
.single-tribe_events .tribe-events-schedule .tribe-events-cost{color: #212121;}
#user-navigation-actions li a{color: #0089CC!important;}
#user-navigation-actions li a#header-sign-in{color: white!important;}
.events-navi span{vertical-align: middle; line-height: 30px; font-size: 16px;}
#thrive-bar{background-color: white!important; box-shadow: 0 2px 0px #4daeeb;}
#thrive-bar .navbar-nav > li > a, #thrive-bar #sidenav-toggle{color:#4daeeb;}
#site-footer-section #thrive_footer{color: white;}
.meeting-tabs .nav-tabs{border:1px solid rgba(0, 0, 0, 0.12); padding-left: 0px; background: white;}
.meeting-tabs .nav-tabs>li{padding: 0px 28px; margin: 0; font-size: 16px;}
.meeting-tabs .nav-tabs>li.active,.nav-tabs>li.active:focus,.nav-tabs>li.active:hover{background-color: #4daeeb; border: none; border-bottom-color: white; padding: 0 41px;}
.meeting-tabs .nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background-color: transparent; border: none; border-bottom-color: white; color: #0089CC!important;}
.meeting-tabs .nav-tabs>li>a{border-color: white; background-color: transparent; border: none; border-radius: 0; display: inline-block; padding: 15px 13px; margin: 0; color:#0089CC!important;}
.meeting-tabs .nav-tabs>li>a:hover,.nav-tabs>li>a:focus{border-color: white; background-color: transparent; border: none; border-radius: 0;}
.meeting-tabs .nav-tabs li span{background: #4daeeb; padding: 1px 6px; font-size: 14px; border-radius: 50%; color: white; vertical-align: middle;}
.event-image-n{width: 100%!important; text-align: center;}
.event-image-n img{height: 100px!important; width: 100px!important; border-radius: 50%!important;}
.member-speciality{font-weight: 400; font-size: 16px; margin-left: 20px;}
.event-content-head a{font-size: 22px; font-weight: 500; color: #212121!important; }
.meeting-room-font{font-weight: 400; font-size: 14px;}
.tribe-events-list .tribe-events-loop .tribe-events-content i{font-size: 14px;}
.meeting-schedule .tribe-events-button.cancel-meet{background-color: #F1F1F1!important; color: #0E4276!important;}
.tribe-events-button.request-meet{background-color: #0e4176!important; color: white!important;}
.meeting-schedule{margin-top: 65px;}
.meeting-schedule a{margin: 0px 10px;}
.meeting-tabs.allevents .nav-tabs > li.active,.meeting-tabs.allevents .nav-tabs > li.active:focus,.meeting-tabs.allevents .nav-tabs > li.active:hover{background-color: transparent;}
.meeting-tabs.allevents .nav-tabs > li.active > a,.meeting-tabs.allevents .nav-tabs > li.active > a:focus,.meeting-tabs.allevents .nav-tabs > li.active > a:hover{color: #0089CC !important; font-weight: 600;}
.meeting-tabs.allevents .nav-tabs>li>a{font-size: 16px;}
.tribe-events-list .type-tribe_events.myevents-list{padding-top: 25px;}
.my-availabity{margin-bottom: 20px; clear: both;}
.my-availabity label{margin-top: 0px;}
.event-date{
    font-size:12px;
}
#start-template-content {padding-top: 0;}
.ti_tx,
.mi_tx,
.mer_tx {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.time,
.mins,
.meridian {
    width: 60px;
    float: left;
    margin: 0 10px;
    font-size: 20px;
    color: #2d2e2e;
    font-family: arial;
    font-weight: 700;
}
.prev.action-next,
.next.action-prev {
    cursor: pointer;
    padding: 18px;
    width: 28%;
    border: 1px solid #ccc;
    margin: auto;
    background: url(../thrive-nouveau-child/images/arrow.png) no-repeat;
    border-radius: 5px;
}
.prev.action-next:hover,
.next.action-prev:hover {
    background-color: #ccc;
}
.next.action-prev {
    background-position: 50% 150%;
}
.prev.action-next {
    background-position: 50% -50%;
}
.time_pick {
    position: relative;
}
.time_pick #timepicker1, .time_pick #timepicker2{
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 13px;
    margin: 0px;
}
.timepicker_wrap {
    padding: 10px;
    border-radius: 5px;
    z-index: 998;
    display: none;
    box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
    background: #f6f6f6;
    border: 1px solid #ccc;
    float: left;
    position: absolute;
    top: 40px!important;
    left: 0;
}
.arrow_top {
    position: absolute;
    top: -10px;
    left: 20px;
    background: url(../thrive-nouveau-child/images/top_arr.png) no-repeat;
    width: 18px;
    height: 10px;
    z-index: 999;
}
input.timepicki-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: none;
    margin: 0;
    text-align: center;
    width: 70%;
    margin-left: 10px;
    font-size: 16px;
    padding: 0;
}
a.reset_time {
    float: left;
    margin-top: 5px;
    color: #000;
}
.attending-event{line-height: 25px!important; margin-bottom: 15px;}
.attending-event img{margin-right: 12px;}
.attending-event .tribe-event-duration{font-size: 1em; display: inline-block; vertical-align: middle;}
.attending-event .tribe-event-duration span{font-size:1em;}
.upcoming-tribe-events-widget-link{background: #f2f2f2;
                                   padding: 15px;
                                   text-align: center;
                                   margin: 0px -15px -25px;}
.upcoming-tribe-events-widget-link a{color: #0089CC!important; font-weight: 600;vertical-align: middle; padding-top: 6px; display: inline-flex;}
.filter-dropdown .dropdown .btn {
    display: block;
    width: 49%;
    background: #fff;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
    border-radius: 0px;
}
.filter-dropdown .dropdown .btn:hover, .filter-dropdown .dropdown .btn:active, .filter-dropdown .dropdown .btn:focus{color: #0077ff;}
.filter-dropdown span:after{
    content: "arrow_drop_down";
    position: absolute;
    right: 0;
    font-size: 40px;
    top: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.upcoming-evet .attending-event img{
    border-radius: 50%;
}
/*#tribe-bar-collapse-toggle.tribe-bar-filters-open + #tribe-bar-views + .tribe-bar-filters{height: 300px;}*/

.filter-dropdown ._allevent{
    padding: 20px;
    height: 270px;
    width: 500px;
    overflow: hidden;
    left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background: #fff;
    position: absolute;
    top: 61.5px;
    z-index: 100;
    margin-top: -1px;
    margin-left: -1px;
    border-top: 0;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
._allevent .event-search-bar-label {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0.75em 0;
    padding: 0;
    text-transform: none;
    font-family: 'AvenirLTStd-Roman';
}
.thrive-inline #tribe-bar-collapse-toggle{color: #0089CC; border: 1px solid rgba(0, 0, 0, 0.12)}
.thrive-inline #tribe-bar-form .tribe-bar-views-inner label{color:#0089CC;}
._allevent .event-search input[type=text],._allevent .event-search input[type=date] {
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-weight: normal;
    transition: border-color 0.25s ease-in-out, line-height 0.25s ease-in-out, padding 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out, line-height 0.25s ease-in-out, padding 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out, line-height 0.25s ease-in-out, padding 0.25s ease-in-out;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    line-height: 20px;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 5px;
    font-size: 15px;
}
._allevent .event-search input[type=text]:focus,._allevent .event-search input[type=date]:focus {
    border-color: #673AB7;
}
.thrive-inline #tribe-bar-form input[type=text]{color:#0089CC;}
._allevent .filter-submit .filter-submit-btn{
    background-color: #0288D1;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 25px;
    line-height: 36px;
    height: 36px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    font-weight: 400;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-top: 0;
    width: 100%;
    font-family: 'AvenirLTStd-Roman';
}
#document-wrapper{
    padding-left: 0!important;    
}
#sidebar-wrap{
    margin-left: 0;
    left: 0;
    width: 0;
}
#thrive_footer{padding-left: 0px;}
.agenda-meetings .tribe-bar-views-select{width: 0px; opacity: 0;}
.agenda-meetings #tribe-events-bar{margin-bottom: 0; z-index: 999;}
.home-widgets .upcoming-tribe-events-widget-link a .material-icons{
    top: 0;
    vertical-align: middle;
    font-size: 21px;
    margin-right: 4px;
}
#modalRegisterForm{margin-top: 50px;}
#modalRegisterForm .modal-header{padding: 20px 15px 15px; border-bottom: none;}
#modalRegisterForm .modal-header .close{margin-top: -25px; color: #0089CC; opacity: 0.9; background: none; border:none;}
#modalRegisterForm .modal-footer{text-align: center; border-top: none;}
#modalRegisterForm .modal-body.mx-3 input[type=text]{background: transparent; border: 1px solid #ccc;}
#modalRegisterForm .modal-body.mx-3 {padding: 15px 100px;}
#modalRegisterForm .modal-body.mx-3 label {margin: 6px 0px;}
#modalRegisterForm .modal-footer .tribe-events-button.cancel-meet {
    color: #0077ff;
    margin-right: 10px;
    background-color: transparent;
}
.dropdown.my_availbe select{
    padding: 16px;
    display: block;
    width: 49%;
    color: #0089CC;
    background: #fff;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    float: left;
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    border: none;
    font-family: AvenirLTStd-Roman;
    cursor: pointer;
}
.dropdown.my_availbe:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 460px;
    color: #0089CC;
    cursor: pointer;
}
/*.dropdown.my_availbe option{padding: 20px;}*/
._request_member{padding-bottom: 0px!important;}
.reqst-meet{
    width: 100%!important;
    border-radius: 0!important;
    margin: 0!important;
    background: #f1f1f1!important;
    color: #0089cd!important;
    border: none!important;
}
.buddypress-wrap .grid.bp-list > li .list-wrap{position: relative;}
.buddypress .buddypress-wrap button.reqst-meet,.buddypress .buddypress-wrap button.reqst-meet:hover{position: absolute; bottom: 0;}
#thrive-bar .navbar-brand{background-color: transparent!important;width: 350px;}
#site-navbar-header #site-brand{margin: -1px 0 -10px -16px !important;}
#site-brand .site-logo{width: 340px!important; top:-10px!important;}
.select-to-show select{margin: 5px 0px; border-bottom:none;}
#tribe-bar-views .tribe-bar-views-select.tribe-no-param{display: none;}
.edit-profile-custom legend{
    width: 35%;
    float: left;
    vertical-align: middle;
    display: inline-block;
    margin-top: 0;
    padding-top: 8px;
}
.edit-profile-custom input{
    width: 65%!important;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
#profile-edit-form .submit{display: none;}
.submit-profile{float: right; margin-top: 20px;}
.submit-profile-delete{float: right; margin-top: 20px;}
.submit-profile input[type="button"].btn-sbmt,.submit-profile .btn-sbmt {background-color: #0e4176!important; color: white!important;}
.submit-profile-delete input[type="submit"], .submit-profile input[type="submit"].btn-edit-p {background-color: #0e4176!important; color: white!important;}
.submit-profile input[type="button"]{color: #0e4176!important;}
#thrive-bar.navbar .navbar-nav > li > .dropdown-menu > li a{color: #4daeeb;}
.change-title{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 15px!important;
}
.notification-settings-email:hover{box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);}
.bp-user #buddypress #item-body .bp-navs ul li a{color:#4daeeb;}
.member-img-profile a img{width: 45%!important;}
#dir-members-search-form{width:25.5em!important;}
.member-search-filter{color:#4daeeb;}
.event-name-d{font-size: 14px!important; text-transform:capitalize!important;}
#tribe-events .tribe-events-content p{    
    font-size: 16px!important;
    line-height: 25px!important;}
#tribe-events-content .tribe-events-list-separator-month{margin: 10px 0px;}
#secondary .widget-title, .widget.home-widgets h3.widget-title{background-color: #46AEEA!important; color: rgba(255, 255, 255, 1)!important; font-size: 14px;}
.primary, a, .subway-login-form .subway-login-lost-password a, .subway-login-form .login-remember label, .widget a:hover, .tribe-events-list .type-tribe_events h2 a, .tribe-events-list .type-tribe_events h2 a:hover, .bboss_search_page .search_filters ul li.current a, .bboss_search_page .search_filters ul li.active a, .bboss_search_page .search_filters ul li a:hover, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce .star-rating span, .thrive-inline.woocommerce-page .star-rating, .thrive-inline.woocommerce .star-rating, .woocommerce .star-rating::before, #thrive-wisechat-support .wcControlsButtonsIncluded a.wcAddImageAttachment::before, .thrive-inline .wcContainer a.wcAddImageAttachment::before, #page-sidenav #page-sidebar-menu ul#secondary-menu-links .menu-item a:hover, #page-sidenav #page-sidebar-menu ul#secondary-menu-links .menu-item.current-menu-item a, .buddypress .pagination-links a.current, .buddypress .pagination-links span.current, .bp-user #item-body .profile ul.button-nav li.current a, .bp-user #item-body .profile ul.button-nav li a:hover, #item-header #object-actionables .generic-button#send-private-message a, #item-header #object-actionables .generic-button#post-mention a, .buddypress #subnav ul li.current a, .buddypress #subnav ul li a:hover, .buddypress .activity-type-tabs ul li.selected#activity-all a::before, .buddypress .activity-type-tabs ul li.selected#activity-groups a::before, .buddypress .activity-type-tabs ul li.selected#activity-mentions a::before, .buddypress .activity-type-tabs ul li.selected#activity-friends a::before, .buddypress .activity-type-tabs ul li.selected#activity-favorites a::before, .buddypress .activity-type-tabs ul li.selected#activity-notifications a::before, .buddypress .activity-type-tabs ul li.selected::before, .buddypress .activity-type-tabs ul li.selected a, .buddypress ul#activity-stream li .activity-meta a:hover, .buddypress ul#activity-stream li .activity-comments ul .acomment-context .acomment-options a:hover, .buddypress.directory.members .item-list-tabs ul li.selected a, .buddypress.directory.groups .item-list-tabs ul li.selected a, .buddypress ul#groups-list li .action a, .group-create #group-create-tabs ul li.current a, .thrive-inline #buddypress #bp-docs-all-docs li.current a, .thrive-inline #buddypress #bp-docs-all-docs li a:hover{color:#0089CC!important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .headlings, .buddypress.widget .item-options, .item-title{font-family: 'AvenirLTStd-Roman', -apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important}
.tribe-events-list-event-title a{color: #212121!important;}
.list-title.member-name a{color:#212121 !important}
.buddypress-wrap .select-wrap span.select-arrow::before{color: #4daeeb;}
.tribe-event-duration a {
    color: #424242!important;
}
.meeting-tabs.agenda-meetings-q .nav-tabs > li > a{color: #212121 !important; vertical-align: middle;}
.meeting-tabs.agenda-meetings-q .nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color: white!important;}
.status-publish.has-post-thumbnail .tribe-events-cal-links a{color: white!important;}
.tribe-events-meta-group.tribe-events-meta-group-details, .tribe-events-meta-group.tribe-events-meta-group-venue, .tribe-events-meta-group.tribe-events-meta-group-organizer{color: #212121}
#header-sign-in{color: white!important;}
#content table td{font-size: 1em;}
.user-notifications-action-name span.fa{
    font-size: 20px;
    vertical-align: middle;
}
#masthead.site-header .container-fluid{
    padding-right: 30px;
    padding-left: 30px;
}
body.logged-out.admin-bar .navbar-fixed-top, 
body.logged-in.admin-bar .navbar-fixed-top {
    top: 0 !important;
}
#tribe-bar-views{
    display: none;
}
.meeting-tabs .nav-tabs, .thrive-inline #tribe-bar-collapse-toggle, .filter-dropdown .dropdown .btn, .dropdown.my_availbe select{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
#tribe-bar-form{
    background: #ffffff;
}

.tribe-events-ical.tribe-events-button, 
.tribe-events-promo, 
#tribe-events-content.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous, 
#tribe-events-content.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-next,
#comments, .entry-footer .edit-link .post-edit-link,
.tribe-events-list .tribe-events-page-title,
.members-type-navs.main-navs.bp-navs.dir-navs, 
.pag-data {display: none!important;}
#tribe-events-content .tribe-events-loop{padding-bottom: 15px!important;}
#tribe-events-content.tribe-events-single div.tribe-events-single-event-description.tribe-events-content{
    width: 100%;
}
.tribe-events-single-event-description.tribe-events-content p{
    padding-top: 20px;
    text-align: justify;
}
.thrive-inline.single-tribe_events #tribe-events-content .tribe-events-event-meta dt{
    color: black;
    font-weight: 900;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd{
    color: grey
}
.thrive-inline #tribe-events .tribe-events-button, .thrive-inline .tribe-events-button{
    background-color: #0E4276;
    margin-top: 10px;
    text-transform: inherit;
}
#tribe-events-content #tribe-events-footer ul li.tribe-events-nav-previous {
    text-align: left;
}
#tribe-events-content #tribe-events-footer ul li.tribe-events-nav-next{text-align: right;}
#tribe-events-content #tribe-events-footer ul li a{padding: 15px 0px;}
ul.tribe-events-sub-nav a{font-weight: 300;}
.member-header-actions .tribe-events-button.request-meet{text-transform: initial;}
.thrive-inline #tribe-bar-collapse-toggle:after, .filter-dropdown span:after{
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    top: 20px;
    right: 20px;
}
.thrive-inline .tribe-events-event-image + div.tribe-events-content{margin-top: -5px;}
.buddypress-wrap form.bp-dir-search-form button[type="submit"] span{
    color: #4daeeb;
}
.buddypress-wrap .select-wrap span.select-arrow:before{
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    font-size: 12px;
}
.buddypress-wrap .subnav-filters{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.buddypress-wrap .grid.bp-list > li .item-avatar img.avatar{
    box-shadow: none;
}
.tribe-events-schedule.material-new span, .upcoming-tribe-events-widget-link a{
    position: relative;
}
.material-icons-new {
    background: url('outline-local_offer-24px.svg')no-repeat center;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: 4px;
}
.material-icons-new-activity {
    background: url('local_activity.png')no-repeat center;
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: -25px;
}
.material-icons-new-people {
    background: url('people.png')no-repeat center;
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: -25px;
}
.single-tribe_events .tribe-events-schedule .tribe-events-cost:before{
    content: '';
}
/*#thrive-bar .navbar-nav > li > a span:active, #thrive-bar .navbar-nav > li > a span:focus, #thrive-bar .navbar-nav > li > a span:hover{
    color: red;
}*/
#thrive-bar .navbar-nav > li a:active, #thrive-bar .navbar-nav > li a:focus, #thrive-bar .navbar-nav > li a:hover{
    color: #0f90d0;
}
#thrive-bar .navbar-nav > .active > a{
    color: #0089CC!important;
    background: transparent;
    font-weight: 900;
}
.meeting-tabs.agenda-meetings-q .nav-tabs{border: none; border-top: 1px solid rgba(0, 0, 0, 0.12);}
::placeholder {
    color: #0089CC;
    opacity: 1; /* Firefox */
    font-family: 'AvenirLTStd-Roman'!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0089CC;
    font-family: 'AvenirLTStd-Roman'!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #0089CC;
    font-family: 'AvenirLTStd-Roman'!important;
}
._allevent .event-search input[type="date"].form-control{color: #0089CC!important;}
.meeting-schedule a{font-weight: 300!important;}
.select-wrap1 select{
    width: 49%;
    float: left;
}
.not-availability-events-list, .not-availability-events-list1{
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 16px;
    color: #0089CC;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}



@media(max-width:1320px){
    .buddypress-wrap .subnav-filters div select{font-size: 14px;}
    .meeting-tabs .nav-tabs>li.active, .nav-tabs>li.active:focus, .nav-tabs>li.active:hover{padding: 0 47px;}
    .meeting-tabs .nav-tabs li span{padding: 4px 7px 3px;}
    .meeting-tabs .nav-tabs > li {
        padding: 0px 29px;
        font-size: 16px;
    }
    .meeting-tabs .nav-tabs>li>a{border-color: white; background-color: transparent; border: none; border-radius: 0; display: inline-block; padding: 15px 10px; margin: 0; color:#0089CC!important;}
}
@media(max-width:1024px){
    .buddypress-wrap .subnav-filters div select{font-size: 14px;}
    .meeting-tabs .nav-tabs>li.active, .nav-tabs>li.active:focus, .nav-tabs>li.active:hover{padding: 0 43px;}
    .meeting-tabs .nav-tabs>li{padding: 0px 35px; font-size: 14px;}
    .filter-dropdown ._allevent{width: 474px;}
    #thrive-bar .navbar-brand{width:290px;}
    #start-template-content #primary.thrive-page-document{width: auto; margin-left: 0}
    .widget.home-widgets{
        width:32%;
    }
}
@media(max-width:800px){
    .meeting-tabs .nav-tabs>li{width: 100%; text-align: left;  padding: 0 15px; font-size: 16px;}   
    .meeting-tabs .nav-tabs>li.active, .nav-tabs>li.active:focus, .nav-tabs>li.active:hover{    
        width: 100%;
        text-align: left;
        padding: 0 15px;}
    .filter-dropdown ._allevent {
        width: 365px;
    }
    .tab-content.agenda-meetings .tribe-events-list-separator-month + .type-tribe_events.tribe-events-first, .tab-content.agenda-meetings .tribe-events-list .type-tribe_events{text-align: center;}
    .meeting-schedule{text-align: center;}
    .tribe-events-list .tribe-event-schedule-details{padding: 0px!important; margin-bottom: 10px;}
    #user-navigation-actions .navigation-space{padding: 0px 0px;}
    .widget.home-widgets{
        width:100%;
    }
}
@media(max-width:768px){
    #tribe-events-content .tribe-events-event-cost span{margin-top: 0;}
    #tribe-events-content .tribe-events-event-cost span:before{top: 5.5px;}
    #tribe-events-content #tribe-events-footer ul li a{padding: 12px 20px;float: none!important;}
    #document-wrapper.active #sidebar-wrap{   
        left: 0px!important;
        width: 0px!important;
        top:0px!important;}
    #sidenav-toggle-mobile{display: none!important;}

}
@media(max-width:600px){
    .filter-dropdown .dropdown .btn{width: 100%;}
    .filter-dropdown ._allevent {
        width: 100%;
    }
    #thrive-bar .navbar-brand{width: 270px;}
    #dir-members-search-form{width: 100%!important;}
    .thrive-inline .tribe-events-event-image + div.tribe-events-content{width: 100%;}
    .dropdown.my_availbe select{width: 100%;}
    .dropdown.my_availbe:after{left: 90%;}
    #modalRegisterForm .modal-body.mx-3{padding: 15px 50px;}
    #site-brand .site-logo{top: 0px!important;}
    .member-header-actions{text-align: center;}
    .member-header-actions .tribe-events-button{margin-right: 0px;}
    .thrive-inline #tribe-bar-form #tribe-bar-views, .thrive-inline #tribe-bar-collapse-toggle{width: 100%!important; margin-bottom: 10px;}
    .meeting-schedule a{display: block!important; margin-bottom: 10px!important;}
    .tab-content.agenda-meetings .tribe-events-list-separator-month + .type-tribe_events.tribe-events-first, .tab-content.agenda-meetings .tribe-events-list .type-tribe_events{padding: 20px 0px!important;}
    .edit-profile-custom legend{width: 100%;}
    .edit-profile-custom input{width:100%!important;}
    .submit-profile{float: none; text-align: center;}

}