// BP primary & secondary navigation - directory and single screens

// all devices & generic styles sitewide
.bp-navs {
	background: transparent;
	clear: both;

	&.horizontal {
		background: $white;
		@extend .thrive-material-card-2;
		border-top: 1px solid #eee;
		> ul > li.current {
			> a {
				color: #222;
				font-weight: bold;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
		}

		li.last {

			select {
				max-width: 185px;
			}
		}

		li {

			a,
			span {
				border: 0;
				display: block;
				padding: 5px 10px;
				text-decoration: none;
			}

			.count {
				@extend .bg-primary;
			    border-radius: 50%;
			    color: #fff;
			    display: inline;
			    font-size: 12px;
			    margin-left: 2px;
			    padding: 0;
			    text-align: center;
			    vertical-align: middle;
			    height: 25px;
			    width: 25px;
			    display: inline-block;
			    line-height: 25px;
			     @media( max-width: 768px) {
						float: right;
					}
			}
		}

		// these selected/current should apply to all navs
		// if not pull out & move to end.
		li.selected,
		li.current {

			a {
				color: $black;
				opacity: 1;
			}
		}

	} // close ul

	&.bp-invites-filters,
	&.bp-messages-filters {

		ul {

			li {

				a {
					border: 1px solid $bp-border-dark;
					display: inline-block;
				}
			}
		}
	}

} // close .bp-navs

.main-navs.dir-navs {
	margin-bottom: $marg-lrg;
	background: $white;
	@extend .thrive-material-card-2;
	margin-top: 25px;
	border-radius: 2px;
	li.selected {
		background-color: #444;
		a {
			color: $white;
			background: #444;
		}
	}
}
.buddypress-wrap {
    &.bp-dir-vert-nav {
        .activity-nav-tabs {
            ul {

                li {
                    width: 100%;
                    display: inline-block;
                    border-bottom: 1px solid $bp-border-color;
                    @media(min-width: 768px) {
                        float: left;
                    }
                    &.selected {
                        border-top: none;
                    }
                }
            }
        }
    }
}

.single-item.groups{
	// Primary, default current/selected states
	.buddypress-wrap {

		.bp-navs {
            &#object-nav.groups-nav {
                ul {
                    /*margin: 0 auto;*/
                    max-width: 1047px;
                    padding: 0;
                }
            }

			li.selected,
			li.current,
			li a:hover {

				a {
					.count {
						@extend .bg-primary;
    					border: 0 none;
					}
				}
			}

			li:not(.current),
			li:not(.selected), {

				a:focus,
				a:hover {
					background: $grey;
					color: $black;
				}
			}

			li.selected,
			li.current {

				a,
				a:focus,
				a:hover {
                    color: #424242;
				}
			}
		}
        .main-navs > ul {
            background-color: $white;
            > li {
                > a {
                }
            }
        }
        @media( min-width: 768px) {
            &.bp-dir-hori-nav nav:not(.vertical) {
                width: 100%;
                display: inline-block;
            }
        }
		@include medium-up() {

			.main-navs:not(.dir-navs) {

				li.selected,
				li.current {

					a {
						background: $white;
						color: $black;
						font-weight: 600;
					}
				}
			}

			.main-navs.vertical { // single screen navs
				margin-bottom: 0;
				li.selected,
				li.current {

					a {
						background: #fff;
					    color: #222;
					    border: 0 none;
					    border-radius: 0;
					    padding: 8px;
					    border-left: 2px solid #444;
					}
				}

				li {
					width: 100%;
					a {
						display: block;
						width: 100%;
					}
				}
			}

			&.bp-dir-hori-nav {
				nav{
					background: #ffffff;
					box-shadow: 0px 5px 15px -3px #a7a7a7;
					border-radius: 2px;
					margin-bottom: 0;
					border-top: 1px solid #eee;
					&:not(.vertical) {
						margin-bottom: 15px;
					}
				}
			}
		} // close @media

		.bp-subnavs {

			li.selected,
			li.current {

				a {
					background: $white;
					color: $black;
					font-weight: 600;
				}
			}
		}
	} // close .buddypress-wrap - current & selected states.

}
.users-nav,
.groups-nav {
    &.main-navs {
        &.vertical {
            > ul {
                > li {
                    > a {
                        padding: 20px 10px;
                        @media(min-width: 768px) {
                            padding: 15px 10px;
                        }
                    }
                }
            }
        }
        > ul {
            position: relative;
            max-height: 58px;
            overflow: hidden;
            -webkit-transition: all 0.5s ease-in-out;
               -moz-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
            @media(min-width: 768px) {
                overflow: visible;
                max-height: none;
            }
            &.active {
                max-height: 1000px;
                @media(min-width: 768px) {
                    max-height: none;
                }
            }
            .profile-nav-dropdown-btn {
                color: $white;
                background-color: $primary_700;
                width: 40px;
                height: 40px;
                font-size: 40px;
                border-radius: 2px;
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                user-select: none;
                &:before {
                    width: auto;
                }
                @media(min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
// visual styling of default single navs - adds background/padding to
// the parent elements if vertical nav not selected
.buddypress-wrap:not(.bp-single-vert-nav) {

	.main-navs {
		&:after {
			display: table;
			clear: both;
			content: "";
		}
        &.members-nav-tabs > ul {
            @media(min-width: 768px) {
                margin: 0;
                float: left;
            }
        }
		> ul {
			padding: 0;
            margin: 0;
            width: 100%;
			> li {
				list-style: none;
				> a {
					padding: 15px 15px;
	    			line-height: 2;
                    @media(min-width: 768px) {
                        padding: 10px 10px;
                    }
				}
			}
		}

	}

	.user-subnav#subsubnav,
	.group-subnav#subsubnav {
		background: none;
	}
}

// Specifically default subnav elements
.buddypress-wrap {

	.bp-subnavs,
	ul.subnav {
		width: 100%;
	}
	&.bp-dir-hori-nav {
		.bp-subnavs {
			background: $white;
			border-radius: 2px;
			@extend .thrive-material-card-2;

			@media(max-width: 768px) {
				margin-top: 20px;
			}


			li.current {
				>a {
					color: #222;
					font-weight: bold;
				}
			}
		}
	}
	.bp-subnavs {
		margin: $marg-sml 0;
		overflow: hidden;

		ul {
			margin: 0;
			padding: 0;

			li {
				margin-top: 0;
				list-style: none;

				&.selected,
				&.current {

					:focus,
					:hover {
						background: none;
						color: $black;
					}
				}

			}
		}
	}

	ul.subnav {
		@media(min-width: 768px) {
			width: auto;
			margin: 0;
			padding: 0;
		}
	}

	.bp-navs.bp-invites-nav#subnav,
	.bp-navs.bp-invites-filters#subsubnav,
	.bp-navs.bp-messages-filters#subsubnav {

		ul {

			li.last {
				margin-top: 0;
			}
		}
	}

} // close .buddypress-wrap

// Single screens object navs
// Adjusts visual styling for small screens only

@include medium-max {

	.buddypress-wrap {

		.single-screen-navs {
			border: 1px solid $bp-border-color;

			li {
				border-bottom: 1px solid $bp-border-color;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		.bp-subnavs {

			li {

				a {

					@include font-size(14);
				}

				&.selected,
				&.current {

					a,
					a:focus,
					a:hover {
						color: $white;
					}
				}
			}
		}
	}
}

.buddypress_object_nav,
.buddypress-wrap {

	.bp-navs {

		li.selected,
		li.current {

			a {
				.count {
				    padding: 0;
				    display: inline-block;
				}
			}
		} // close li

		li.dynamic,
		li.dynamic.selected,
		li.dynamic.current {

			a {

				.count {
					background-color: $highlight;
					border: 0;
					color: $off-white;
				}
			}
		}

		li.dynamic {

			a:hover {

				.count {
					background-color: $highlight;
					border: 0;
					color: $white;
				}
			}
		}

		li {

			a {

				.count:empty {
					display: none;
				}
			}
		}
	} // bp-navs

	// Create steps current postion tabs highlight
	.bp-navs.group-create-links {

		ul {

			li:not(.current) {
				color: $light-text;

				a {
					color: $light-text;

					&:focus,
					&:hover {
						background: none;
						color: $black;
					}
				}

				a[disabled] {

					&:focus,
					&:hover {
						color: $light-text;
					}
				}
			}

			li.current {

				a {
					text-align: center;
				}
			}
		}
	}
}

.buddypress-wrap {

	// position our nav elements at larger screen widths

	@include medium-up() {


		.bp-navs {

			ul {
				margin: 0;
				padding: 0;
				li { // set the list links of all navs to shrinkwrap/width auto
					float: left;
					list-style: none;
				}
			}
		}

		.subnav {
			float: left;
		}

		ul.subnav {
			width: auto;
			&:empty{
				display: none;
			}
		}

		// user screen last filter
		#subsubnav {

			.activity-search {
				float: left;
			}

			.filter {
				float: right;
			}
		}

	} // close @media

} // close .buddypress-wrap


// Just buddypress_object_nav rules
.buddypress_object_nav {

	.bp-navs {

		li {

			a {

				.count {
					display: inline-block;
					float: right;
				}
			}
		}

	}
}

// Directory screens vertical nav rules

@include medium-up() {

	// the top level class activating vert layout
	.bp-dir-vert-nav {

		.bp-navs.dir-navs {

			a {

				.count {
					float: right;

				}
			}
		}
	}
}

// Tabbed links

// Our tabbed links are pulled in via a mixin
// UL parent element must have 'tabbed-links' added and the ul 'button-tabs'
// medium screens up
.single-item.groups{
	.buddypress-wrap {
		.item-body {
			.bp-avatar-nav ul.avatar-nav-items li.current {
				border-bottom: 0 none;
			}
			@include medium-up {
				// Profile group labels links
				// Button navigation as tabbed effect for wide screen
				@include tabbed-links();
				.bp-navs.tabbed-links {
					background: none;
					margin-top: 10px;
					background: transparent;
    				box-shadow: none;
					// For tabbed nav we remove any default button nav styles.
					ul {
						li {
							a {
								border-right: 0;
								font-size: inherit;
								padding: 10px 5px;
							}
							&.current {
								border-bottom: 1px solid transparent;
							}
						}

						li.last {
							float: right;
							margin: 0;

							a {
								margin-top: -0.5em;
							}
						}

						li,
						li.current {

							a,
							a:focus,
							a:hover {
								background: none;
								border: 0;
							}

							a:active {
								outline: none;
							}
						}
					}
				} // close .bp-navs.tabbed-links
			} // @media
		}
	}
}
.directory.groups {
	.groups-type-navs {
		margin-top: 25px;
	}
}

.thrive-bp-user-is-horizontal-nav {
	.bp-subnavs#subnav {
		margin-top: 15px;
	}
}

