// BP Activity Comments Form
form.ac-form {
	display: none;
	padding: $pad-med;

	.ac-reply-avatar {
		float: left;

		img {
			max-width: 38px;
    		margin: 10px 0;
		}
	}

	.ac-reply-content {
		color: $light-text;
		padding-left: $pad-med;

		a {
			text-decoration: none;
		}

		.ac-textarea {
			margin-bottom: $marg-med;
			padding: 0 $pad-sml;
			overflow: hidden;

			textarea {
				margin: 10px 0 0 0;
			    outline: none;
			    box-shadow: inset 0px 1px 15px -5px #888;
			    width: 100%;
			    background: #eee;

				&:focus {

					@include box-shadow( 0 0 6px $med-light-grey );
				}
			}
		}

		input {
			margin-top: $marg-sml;
		}
	}

}

.activity-comments li form.ac-form {
	clear: both;
	margin-right: $marg-med;
}

.activity-comments form.root {
	margin-left: 0;
}
