// Single Groups Management screens

// Groups settings screen
.buddypress-wrap {

	.group-status-type {

		ul {
			margin: 0 0 $marg-lrg $marg-lrg;
		}
	}
}

// ==== Members manage ====
#buddypress {
.groups-manage-members-list {
	padding: 0;
	@extend .thrive-material-card-2;
	background: $white;
	dd {
		margin: 0;
		padding: $pad-med 0;
	}

	.section-title {
		background: #f7f7f7;
	    padding: 10px 15px;
	    font-weight: normal;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: table;
		width: 100%;
		li {
			list-style: none;
		    display: table-row;
		    width: 100%;
		}

		li:only-child,
		li:last-child {
			border-bottom: 0;
		}

		li:nth-child(even) {
			background: $off-white;
		}

		li.banned-user {
			background: lighten($warn, 50%);
		}

		.member-name {
			margin-bottom: 0;
		}

		

		@include medium-small-up() {

			
		}

		@include clearfix-element(".members-manage-buttons");

		.members-manage-buttons {
			display: table-cell;
    		vertical-align: middle;

			a.button {
				color: $light-text;
				display: block;
				padding: 0;
				margin-left: 5px;
				box-shadow: none;
				border-right: 0 none;
				
				@include font-size(13);
				&:hover {
					box-shadow: none;
				}
			}

			@include medium-small-up() {

				a.button {
					display: inline-block;
				}
			}
		}

		.members-manage-buttons.text-links-list {
			margin-bottom: 0;

			@include medium-small-max() {

				a.button {
					background: #fafafa;
					border: 1px solid $bp-border-color;
					display: block;
					margin-bottom: $marg-sml;
				}
			}
		}

		.action:not(.text-links-list) {

			a.button {

				@include font-size(12);
			}
		}

		@include medium-up() {

			li {

				.action,
				.member-avatar,
				.member-name {
					display: table-cell;
    				vertical-align: middle;

				}

				.avatar {
					margin-left: 10px;
					margin-top: 5px;
				}

				.member-name {
					padding: 10px 15px;
				}

				.action {
   					margin-bottom: 0;
				}

			}
		} // close @media

	}

} //close .groups-manage-members-list
}