// Cover image container generic styles.
// These properties manage the required positioning of
// the image container overlay.

/*
* Default required cover image rules
*/

#cover-image-container {
	position: relative;
	background-color: $white;
}

#header-cover-image {
	background-color: #c5c5c5;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#item-header-cover-photo {
	height: 240px;
	margin: 0 -15px;
    background: #212121;
    background-position: center center;
    position: relative;
    &:after {
	    content: " ";
	    position: absolute;
	    width: 100%;
	    height: 50%;
	    background: linear-gradient(rgba(255, 255, 255, 0), #484848);
	    bottom: 0;
	    left: 0;
    }
}

#item-header-inner {
	//padding: 0 1em;
	position: relative;
	z-index: 20;
	max-width: 1047px;
    margin: 0 auto;
    padding: 25px 15px;

	#item-header-avatar {

	}
}

/*
* end cover image block
*/
