// BP Single Screens Item Header General Styles.

@include clearfix-element(".single-headers");

.single-headers {
	//margin-bottom: $marg-med;

	// Breakpoint element positioning

	#item-header-avatar { // todo: this ought to be a class!

		a {
			display: block;
			text-align: center;

			img {
				float: none;
			}
		}
	}

	div#item-header-content {
		float: none;
	}

	@include medium-up() {

		#item-header-avatar { // todo: this ought to be a class!

			a {
				text-align: left;

				img {
					box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
					float: left;
					max-width: 148px;
				}
			}
		}
	}

	// End breakpoint positioning

	.group-status,
	.activity {
		display: inline;
	}

	.group-status {

		@include font-size(18);
		color: $black;
		padding-right: $pad-med;
	}

	.activity {
		display: inline-block;
		padding: 0;
	}

	div#message,
	#sitewide-notice {

		p {
			background-color: #ffd;
			border: 1px solid #cb2;
			color: #440;
			font-weight: 400;
			margin-top: 3px;
			text-decoration: none;
		}
	}

	// @mention user name
	h2 {
		line-height: 1.2;
		margin: 0 0 $marg-xsml;

		a {
			color: $light-text;
			text-decoration: none;
		}

		span.highlight {
			display: inline-block;
			font-size: 60%;
			font-weight: 400;
			line-height: 1.7;
			vertical-align: middle;

			span {
				background: #a1dcfa;
				color: $white;
				cursor: pointer;
				font-size: 80%;
				font-weight: 700;
				margin-bottom: 2px;
				padding: 1px 4px;
				position: relative;
				right: -2px;
				top: -2px;
				vertical-align: middle;
			}

		}

	} // close h2

	img.avatar {
		float: left;
		
	}

	.item-meta {
		color: #616161;

		@include font-size(14);
		margin: 0;
		padding-bottom: 0;
	}

	ul {
		margin-bottom: $marg-med;

		li {
			float: right;
			list-style: none;
		}
	}

	div.generic-button {
		text-align: center;
		margin-bottom: 10px;
	}

	li.generic-button {
		display: inline-block;
		text-align: center;
	}

	@include medium-up() {

		div.generic-button,
		a.button,
		li.generic-button {
			float: left;
		}
	}

	div.generic-button,
	a.button {
		@media( min-width: 768px) {
			margin: 0 10px 0 0;	
		}
	}

	// if these are list constructs
	li.generic-button {
		margin: 0 10px 0 0;
	}

	li.generic-button:first-child {
		margin-left: 0;
	}

	div#message.info {
		line-height: 0.8;
	}

} // close .single-headers

body.no-js  .single-item-header .js-self-profile-button {
	display: none;
}

